<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="description">
            <h2><span>Description</span> {{description.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Parameter</span></dt>
                <dd>
                    <span>{{description.parameter}}</span>
                </dd>
                <dt><span>Item</span></dt>
                <dd>
                    <div *ngIf="description.itemId">
                        <a [routerLink]="['/item', description.itemId, 'view']">{{description.itemId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/description', description.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
